/* title of table container stylinf */
h4 {
  color: #444;
  padding-left: 10px;
  margin-right: auto;
  flex: 2;
}

.ord-p {
  flex: 1;
  font-weight: bold;
  color: #444;
  font-size: .7em;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

/* table content */

.order-container {
  font-size: .7em;
  max-width: 1200px;
  margin: auto;
}

.order-container table {
  max-width: 1200px;
}

.order-items-container {
  border: 1px solid rgb(185, 185, 185);
  scrollbar-color: #c0c0c0 #686868;
  overflow: auto;
  height: 300px;
}

.order-table-header {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  background-color: #eee;
}

.tbody-header {
  display: flex;
  flex-direction: row;
}

/* .order-table-header td {
  border:1px solid;
} */
/* .order-table-header td {
  border:1px solid;
} */

.order-items-container tr {
  height: 56px;
}