/*  container for entire order page */
.orderpage-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100vh;
  gap:1rem;
  padding: 1rem;
}

/* individual containers for each component */
.active-order-container,
.order-history-container {
  font-size: .7em;
  display: flex;
  min-width: 400px;
}

.active-order-container {
  flex: 1 1 55%;
}

.order-history-container {
  flex: 1 1 40%;
}

/* header for each components table */
.order-table-header {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
}

/* title above header for each table */
.title-tr,
.orders-page-title-for-each-table {
  background-color: transparent;
  border: none;
}

.orderpage-container button {
  background-color: transparent;
  border: none;
}

.orderId, .heading-orderId,
.heading-arrival, .arrival,
.heading-ordered, .ordered {
  padding: 1vw;
}

.orders-page-title-for-each-table h1 {
  color:var(--accent-color);
}
