/* Default CSS from VITE install */
/* keep this, adds the color scheme across the layout */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark-grey: #434343;
  --grey: #555;
  --logo-color: #33b5af;
  --accent-color: #2ca39d;
  --hover-color: #8fd4d1;
  --main-background: rgb(225, 226, 226);
  --orders-background: rgb(177, 190, 191);

  background-color: var(--main-background);
}

body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(186, 186, 186);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dfdfdf;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #242424;
  min-width: 44px;
  width: auto;
  height: 35px;
  text-align: center;
  font-weight: bold;
}

button:hover {
  border-color: #444;
}

/* End default css */

* {
  box-sizing: border-box;
}

.fa-icon {
  font-size: 17px;
  color: #474d53;
}

table {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 20px;
  margin: auto;
}

thead td:last-child {
  border-right: none;
}

tr {
  display: flex;
  background-color: #ffffff;
  /* border: 1px solid rgb(172, 220, 224); */
  border-radius: 5px;
  color: #242424;
  height: 52px;
  margin: 3px 0;
}

thead tr {
  background-color: rgb(226, 239, 240);
  display: flex;
  align-items: center;
  height: 30px;
  position: relative;
}

td {
  min-height: 52px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  /* border:1px solid black; */
}

fieldset {
  border: none;
  display: flex;
  flex: 1;
  justify-content: center;
}

.small-blue-button {
  text-decoration: none;
  margin-left: 125px;
  font-size: 12px;
  color: var(--logo-color);
}

.small-blue-button:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.swal2-icon.swal2-error {
  border-color: #3b9893 !important;
}

.swal2-x-mark-line-left {
  background-color: #3b9893 !important;
}

.swal2-x-mark-line-right {
  background-color: #3b9893 !important;
}

.swal2-styled {
  height: 2.5em;
  width: 4.5em;
}
