.dynamic-inputs.sku {
    width:50px;
  }

  .dynamic-inputs.brand {
    width:50px;
  }

  .dynamic-inputs.name {
    width:50px;
  }

  .dynamic-inputs.desc {
    width:100px;
  }

  .dynamic-inputs.sku {
    width:50px;
  }

  .dynamic-inputs.sku {
    width:50px;
  }

  .dynamic-inputs.sku {
    width:50px;
  }

  .dynamic-inputs.sku {
    width:50px;
  }