.dynamic-inputs.sku {
    width:75px;
  }

  .dynamic-inputs.brand {
    width:75px;
  }

  .dynamic-inputs.name {
    width:75px;
    height:65px;
  }

  .dynamic-inputs.desc {
    width:120px;
    height:65px;
  }

  .addedProductRow {
    height:75px;
    background-color: #ccc;
    z-index: 997;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.2);
  }


  /* SAVE POPUP MESSAGE */

.save-td {
    position: relative;
    height:75px;
    background-color: #ccc;
    z-index: 997;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.2);
  }
  
  .save-popup {
    color:#eee;
    width: 165px;
    position: absolute;
    top: 95%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 999;
    border-radius: 5px;
    overflow: visible; 
    box-shadow: none;
  }
  
  .save-popup::before,
  .save-popup::after {
    content: "";
    position: absolute;
    bottom:65%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #007bff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  
  .save-popup::before {
    transform-origin: bottom right;
  }
  
  .save-popup::after {
    transform-origin: bottom left;
  }