.dropdown-icon {
    position: relative;
  }
  
  .dropdown-icon button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-icon .dropdown-menu {
    position: absolute;
    top: 14%;
    right: 23%;
    z-index: 1;
    display: block;
    background-color: var(--hover-color);
    min-width: 140px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    border-radius: 5px;
    /* border-top-right-radius: 0px; */
    padding-top: 40px;
  }
  
  .dropdown-icon .dropdown-menu a {
    color: black;
    padding: 4px 5px 0 0;
    text-decoration: none;
    display: block;
    margin-right:10px;
  }
  
  .dropdown-icon .dropdown-menu a:hover {
    background-color: #eee;
  }
  
  .addprodicon {
    font-size: 28px;
    color:var(--logo-color);
  }

  .addprodicon:hover {
    color:var(--hover-color);
    border-bottom-right-radius: 0px;
  }

  .addprodicon:active, .addprodicon:focus{
    outline:none;
    color:var(--hover-color);
  }

  .dropdown-menu li {
    list-style: none;
    font-size: 12px;;
  }

  #add-prod-td {
    flex: 0;
    min-width: 50px;
  }