.scale-loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  /* to ensure it's on top */
}


/* inventory items */

.checkbox-options-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: auto;
}

.custom-checkbox {
  display: inline-block;
  margin-top: 5px;
  /*   width: 20px;
  height: 20px; */
  border: 2px solid #4c4a4a;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.fa-icon.check-icon {
  padding: 1px 2px;
  font-size: 1em;
}

.custom-checkbox.checked {
  background-color: #000;
}

.highlight-selected {
  background-color: rgba(191, 209, 210, 0.585);
}

.heading-select,
.item-select {
  flex: 0.5;
}

.heading-sku,
.item-sku {
  margin-left: 20px;
}

.heading-name,
.item-name {
  flex: 1;
}

td.item-description,
.heading-description,
.input-description {
  flex: 1.3;
}

td.item-description {
  font-size: 11px;
}

.heading-description {
  width: 170px;
}

.heading-in-stock,
.item-in-stock {
  margin-left: 2vw;
}

.item-in-stock {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.header-tds {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: flex-start;
  color: #555;
  font-size: 14px;
}

.dynamic-inputs {
  width: 40px;
  text-align: center;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 4px;
  border: 1px solid #ececec;
}

.fa-icon {
  padding: 5px;
  font-size: 24px;
  opacity: 70%;
}

.fa-icon:hover {
  opacity: 50%;
}

.inventory-items-container td button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(198, 198, 198, 0);
}

.icon-add-prod {
  color: var(--accent-color);
  background: transparent;
  font-size: 24px;
  border: none;
  z-index: 999;
}

#add-prod-td {
  position: relative;
  flex: 0;
}

.dropdown-icon {
  position: absolute;
  right: -1vw;
}

/* drag and drop */

#inventory table thead td:hover {
  cursor: default;
}

#inventory table td:hover {
  cursor: grab;
}

#inventory table td:active {
  cursor: grabbing;
}

/* title tr - for the word "inventory" */
.tr-inventory-title {
  background-color: transparent;
  border: none;
}

.tr-inventory-title:hover {
  background-color: transparent;
}

h1 {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}