/* Inventory filterby, add product button row */

.table-filter-search-add {
  margin: 7px auto;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  max-width: 1200px;
}

.filter-search-container {
  display: flex;
  justify-content: space-between;
}

.filter-style {
  height: 30px;
  width: 10vw;
  padding: auto 7px;
  padding-left: 20px;
  background-color: #ddd;
  color: #242424;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.add-prod-btn {
  height: 30px;
  width: 10vw;
  background-color: var(--accent-color);
  color: #ccc;
}

.add-prod-btn:hover {
  background-color: var(--hover-color)
}

.item-in-stock {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}


/* inventory media queries for mobile */
@media screen and (max-width: 390px) {
  .table-filter-search-add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .tr-filter-search-add {
    /* flex-direction: column; */
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 768px;
  }

  .add-prod-btn, .search-input, .filter-style {
    width: 100%;
    align-items: stretch;
  }

  .inventory-add-product {
    align-items: stretch;
    width: 100%;
    padding: 0 0 5px 0;
  }
}

@media screen and (min-width: 391px) and (max-width:768px) {
  .tr-filter-search-add {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 768px;
  }

  .add-prod-btn, .search-input, .filter-style {
    width: 100%;
    align-items: stretch;
    padding: 0 50px;
  }

}

/* END -----------Inventory filterby, search, add product button row */


/* inventory items */
.headings-and-table-container {
  font-size: .7em;
  margin-top: 20px;
}

.inventory-items-container {
  scrollbar-color: #c0c0c0 #686868;
  overflow: auto;
  height: 650px;
}

table {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
  background-color: #d3d3d3;
  max-width: 1200px;
  margin: auto;
}

thead td {
  display: flex;
  background-color: #eee;
  color: #222;
  /* border-right: 1px solid #444; used to test alignment */
  font-size: 14px;
}

thead td:last-child {
  border-right: none;
}

tr {
  display: flex;
  border-bottom: 1px solid #eee;
  color: #242424;
  align-items: center;
}

tr:last-child {
  border-bottom: none;
}

td {
  min-height: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
}

fieldset {
  border: none;
  display: flex;
  flex: 1;
  justify-content: center;
}


td.item-description {
  text-align: center;
  flex: 2;
  font-size: 8px;
}

.heading-description {
  display: flex;
  justify-content: center;
  width: 205px;
}

.dynamic-inputs {
  width: 40px;
  text-align: center;
  background: rgb(215, 215, 215);
  color: black;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.fa-icon {
  padding: 5px;
  font-size: 24px;
  opacity: 70%;
}

.fa-icon:hover {
  opacity: 50%;
}

.inventory-items-container td button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(198, 198, 198, 0);
}

.icon-add-prod {
  color: var(--accent-color);
  background: transparent;
  font-size: 24px;
  border: none;
}

#add-prod-td {
  flex: 0;
  min-width: 50px;
}

/* inventory items media queries for ipad and smaller */
@media screen and (max-width: 768px) {
  table {
    flex-direction: row;
  }

  fieldset {
    border: none;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .filter-item {
    background-color: #ddd;
    color: #242424;
    padding: 5px 20px;
  }
}

/* inventory items media queries for ipad and smaller */
@media screen and (max-width: 768px) {
  table {
    flex-direction: row;
  }

  tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }

  tr {
    flex-direction: column;
    border-bottom: none;
  }

  td {
    flex: none;
  }

  thead {
    font-weight: bold;
    background-color: #444444;
    padding: 10px;
  }

}

/* SAVE POPUP MESSAGE */

.save-td {
  position: relative;
}

.save-popup {
  color:#eee;
  width: 165px;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 999;
  border-radius: 5px;
  overflow: visible; 
  box-shadow: none;
}

.save-popup::before,
.save-popup::after {
  content: "";
  position: absolute;
  bottom:65%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #007bff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.save-popup::before {
  transform-origin: bottom right;
}

.save-popup::after {
  transform-origin: bottom left;
}
