/* Inventory filterby, add product button row */
.scale-loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* to ensure it's on top */
}

/* .table-filter-search-add {
  margin: 7px auto;
  display: flex;
  justify-content: space-between;
  background-color: #c91c1c;
  max-width: 1200px;
}

.filter-search-container {
  display: flex;
  justify-content: space-between;
}

.filter-style {
  height: 30px;
  width: 10vw;
  padding: auto 7px;
  padding-left: 20px;
  background-color: #da2f2f;
  color: #242424;
  border: 1px solid #b72b2b;
  border-radius: 5px;
} */

/* END -----------Inventory filterby, search, add product button row */

/* inventory items */
.headings-and-table-container {
  font-size: 0.7em;
  margin-top: 20px;
  position: relative;
}

/* inventory items */
.headings-and-table-container {
  font-size: 0.7em;
}

.inventory-items-container {
  scrollbar-color: #c0c0c0 #686868;
  /* overflow: auto; */
  /* height: 650px; */
  /* commented out, not sure if we want to keep this if we have the sidebar */
}

table {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 77vw;
  margin: auto;
}

thead td:last-child {
  border-right: none;
}

tr {
  display: flex;
  background-color: #dcdcdc;
  border-radius: 5px;
  color: #242424;
  height: 56px;
  margin: 3px 0;
}

.tr-header {
  border: none;
}

td {
  min-height: 56px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  /* border:1px solid black; */
}

fieldset {
  border: none;
  display: flex;
  flex: 1;
  justify-content: center;
}

.checkbox-options-button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: auto;
}

.custom-checkbox {
  display: inline-block;
  margin-top: 5px;
  width: 18px;
  height: 18px;
  border: 2px solid #4c4a4a;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}

.custom-checkbox.checked {
  background-color: #000;
}

.heading-select,
.item-select {
  flex: 0.5;
}

.heading-sku,
.item-sku {
  margin-left: 20px;
}

.heading-name,
.item-name {
  flex: 1;
}

/* 
.headings-and-table-container .tr-header td {
  flex: 5;
} */

td.item-description,
.heading-description,
.input-description {
  flex: 1.3;
}

td.item-description {
  font-size: 11px;
}

.heading-description {
  width: 170px;
}

.heading-in-stock,
.item-in-stock {
  margin-left: 2vw;
}

.item-in-stock {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

/* for changed header */
.heading-unit-price {
  margin-right: 8%;
}

.header-tds {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: flex-start;
  color: #555;
  font-size: 14px;
}

.dynamic-inputs {
  width: 40px;
  text-align: center;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 4px;
  border: 1px solid #ececec;
}

.fa-icon {
  padding: 5px;
  font-size: 24px;
  opacity: 70%;
}

.fa-icon:hover {
  opacity: 50%;
}

.inventory-items-container td button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(198, 198, 198, 0);
}

.icon-add-prod {
  color: var(--accent-color);
  background: transparent;
  font-size: 24px;
  border: none;
  z-index: 999;
}

#add-prod-td {
  position: relative;
  flex: 0;
}

.dropdown-icon {
  position: absolute;
  right: -1vw;
}

/* drag and drop */

table thead td:hover {
  cursor: default;
}

table td:hover {
  cursor: grab;
}

table td:active {
  cursor: grabbing;
}

/* title tr - for the word "inventory" */
.tr-inventory-title {
  background-color: transparent;
  border: none;
}

h1 {
  color: #555;
  text-decoration: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
