  .form {
    display: flex;
  }
  
  .searchIcon {
    height: 30px;
    width: 30px;
    color:var(--accent-color);
    background-color: #444;
    border: 1px solid #666;
    border-left:none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .searchIcon svg {
    padding:5px;
    font-size: 18px;
  }

  .search-input {
    margin-left: 10px;
    height: 30px;
    width: 200px;
    background-color: #444;
    color: #eee;
    border:1px solid #666;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .search-input:focus,
  .search-input:active {
    border-color: #999;
    outline: none;
  }
  
  .results-container {
    position: relative;
  }
  
  .results-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: #555;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    z-index: 1;
    color:#242424;
  }

  .results-list ul {
    list-style: none;
  }

  .results-list a {
    color:#242424;
    text-decoration: none;
  }

  .results-list a:hover {
    color:#444;
    text-decoration: underline;
  }

  .highlight {
    background-color: yellow;
  }
