.dynamic-inputs.sku {
  margin-left: .5vw;
  width: 4vw;
}

.dynamic-inputs.brand {
  width: 5vw;
}

.dynamic-inputs.name {
  width: 8vw;
  height: 50px;
  margin-right: 2vw;
}

.dynamic-inputs.desc {
  width: 12vw;
  height: 50px;
  margin-right: 2vw;
}





/* SAVE POPUP MESSAGE */


.save-popup {
  color: #eee;
  width: 120px;
  position: absolute;
  top: 95%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 5px;
  overflow: visible;
  box-shadow: none;
}

.save-popup::before,
.save-popup::after {
  content: "";
  position: absolute;
  bottom: 65%;
  left: 45%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #007bff;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.save-popup::before {
  transform-origin: bottom right;
}

.save-popup::after {
  transform-origin: bottom left;
}


.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: none;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
}

.popup-btn {
  color: #fff;
  border: none;
  padding: 6px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.popup-btn:hover {
  background-color:var(--accent-color);
}

/* Table */
.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-row {
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
  height: 70px;
}

.product-header {
  background-color: #fff;
  color:#444;
  height: 30px;
  font-size: 14px;
}

/* Input and textarea */
.product-row input,
.product-row textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  background-color: #eee;
}

.td-title-add {
  background-color: #fff;
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: flex-end;
}


/* Product header */
.product-header td {
  padding: 8px;
}

.product-header td:nth-child(1) {
  width: 4vw;
}

.product-header td:nth-child(2) {
  width: 5vw;
}

.product-header td:nth-child(3) {
  width: 8vw;
}

.product-header td:nth-child(4) {
  width: 12vw;
}

/* Product row */
.product-row td {
  padding: 8px;
}

.product-row td:nth-child(1) {
  width: 4vw;
}

.product-row td:nth-child(2) {
  width: 5vw;
}

.product-row td:nth-child(3) {
  width: 8vw;
}

.product-row td:nth-child(4) {
  width: 12vw;
}


