/* CSS for .dropdown-icon */
li:not(:last-child) {
  margin-bottom: 5px;
}

.google-hyperlink {
  color: #3b9893;
}

.csv-instructions {
  width: 80vw !important;
}

@media only screen and (min-width: 1025px) {
  .csv-instructions {
    width: 70vw !important;
    max-width: 800px;
  }
}

.csv-container {
  text-align: left;
}

.dropdown-icon {
  position: relative;
}

.dropdown-icon button {
  background: none;
  border: none;
  cursor: pointer;
}

.fa-dropdown {
  padding-right: 5px;
  color: var(--hover-color);
}

.addprodicon {
  font-size: 28px;
  color: #999;
}

.addprodicon:hover {
  color: #888;
  border-bottom-right-radius: 0px;
}

.addprodicon:active,
.addprodicon:focus {
  outline: none;
  color: #888;
}

.dropdown-icon button.addprodicon {
  position: relative;
  z-index: 1000; /* higher value than dropdown-menu */
}

/* CSS for .dropdown-menu */

.dropdown-menu {
  position: absolute;
  top: 14%;
  right: 23%;
  display: block;
  background-color: #eee;
  min-width: 140px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding-top: 30px;
}

.dropdown-menu a {
  color: #333;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  color: #555;
}

.dropdown-menu li {
  list-style: none;
  font-size: 16px;
}

.dropdown-menu ul {
  margin: 0;
  padding: 5px 10px;
}

#add-prod-td {
  flex: 0;
  min-width: 50px;
  margin-right: 2px;
}
