.popup {
  width: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 4999;
  border-radius: 5px;
}

.incoming-orders-popup #popup-tr {}

.order-now-popup #popup-tr {}

.settings-popup #popup-tr {}

.popup-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-thead {
  background-color: #ccc;
  /* color: #242424; */
  padding: 10px;
  width: 40%;
}

#popup-tr {
  flex-direction: column;
  background-color: #ccc;
  border-right: none;
  color: #242424;
}

.incoming-orders-popup #popup-tr {
  height: 300px;
}

.order-now-popup .popup-table {
  height: auto;
  height: 60vh;
}

.selected-options-popup .popup-table {
  height: 500px;
}

.popup-td-head {
  background-color: #ccc;
}

.popup-td {
  display: flex;
  justify-content: center;
  background-color: #eee;
  width: 100%;
}

.popup tbody {
  padding: 10px;
  color: #242424;
  background-color: #eee;
  width: 60%;
}

/* buttons inside pop ups */

.button-table-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}


/* pop up button */
.popup-button {
  width: 100%;
  margin: 5px;
  background-color: #2ca39d;
  color: #fff;
}

.popup-button:hover {
  background-color: #23918c;
}

#close:hover {
  background-color: #ccc;
}

/* close button for all pop ups */
#close {
  width: 100%;
  margin: 5px;
}

.hide {
  display: none;
}