.popup {
  width: 80vw; 
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 4999;
  border-radius: 5px;
  height: 38vh; 
  max-width: 240px; 
}

.popup-table {
  display: flex;
  flex-direction: row;
  height: 25vh;
  gap:.2rem;
  padding-bottom: 5px;
}

.popup-thead {
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.popup-td-head {
  padding: .15rem 1rem;
  font-size: 10pt;
  line-height: 16px;
}

.popup-td {
  padding: .15rem 1rem;
  font-size: 10pt;
  line-height: 16px;
}

#popup-tr {
  flex-direction: column;
  border-right: none;
  color: #242424;
  background-color: transparent;
}

.popup-tbody {
  color: #242424;
  background-color: #eee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 24.3vh !important;
}

/* pop up button */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2rem;
  width:200px;
}

.popup-button {
  width: 100%;
  background-color:var(--logo-color);
  color: #fff;
}

.popup-button:hover {
  background-color:var(--accent-color);
}

/* close button for all pop ups */
#close {
  width: 100%;
}

#close:hover {
  background-color: #ccc;
}

.hide {
  display: none;
}


/* ------ checkbox options popup --------------- */
.checkbox-options-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  height: auto;
  width: 400px;
  top:50%;
  left:50%;
}

.checkbox-options-popup h2 {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.checkbox-options-popup .options-section {
  margin: 0 10% 0 5%;
}

.checkbox-options-popup .rows {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.checkbox-options-popup #close {
  width: 50%;
}

.checkbox-options-popup section.confirmation {
  height: auto;
}

.listOfSelectedContainer {
  height: 150px;
  border: 1px solid grey;
  overflow-y: scroll;
}

.listOfSelectedContainer ul {
  padding: 0 3%;
}

.listOfSelectedContainer li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.listOfSelectedContainer li>div {
  width: 30%;
}

.listOfSelectedContainer li>div.list-numbering,
.listOfSelectedContainer li>div.list-spacer {
  width: 5%;
  margin-right: 4%;
}

.checkbox-options-popup .activate-confirmation-box {
  background-color: rgb(255, 255, 255);
  padding: 0 20px;
  margin: 0;
}