/* container for entire inventory page */
.inventory-orders-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  align-items: flex-start;
}

/* container for inventory section of inventory page */
.inventory-section {
  flex: 2 1 60%;
  font-size: 0.7em;
}

/* container for order preview section of inventory page */
.orders-section {
  flex: 1 1 30%;
}

@media (max-width: 985px) {
  .inventory-section,
  .orders-section {
    flex-basis: 100%;
  }
}

.inventory-tbody  {
  height: 79vh;
  overflow-y: scroll;
}

.orders-section table tbody {
  height: 79vh;
  overflow-y: scroll;
}

.order-items-container {
  font-size: 0.7em;
}

.order-items-container tr {
  padding: 0 0.75rem;
}

.order-preview-header td,
.order-items-container td {
  justify-content: center;
}

.order-items-container button {
  background-color: transparent;
  border: none;
}

.order-preview-header {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  position: sticky;
  top:0;
  z-index: 100;
  background-color: rgba(226, 239, 240, 1);
}

@media (max-width: 569px) {
  .inventory-orders-container {
    padding: 0.5rem;
  }

  .inventory-section table tbody,
  .orders-section table tbody {
    height: 55.5vh;
  }
}
