.inventory-orders-container {
    display: flex;
    justify-content: space-between;
}

.inventory-section {
    background: var(--main-background);
    width: 100%;
    margin-left: 2vw;
    padding: 0 3vw;
    padding-top: 10px;
}

.inventory-section table {
    height: 90vh;
    max-height: 762px;
}

.orders-section {
    flex-basis: 50%;
    padding: auto 2vw;
    /* back-up color for browsers that don't support gradient */
    background: rgb(195, 207, 209);
    /* back-up gradient for browsers that don't support var() */
    background: linear-gradient(to right, rgb(177, 190, 191), rgb(198, 210, 211));
    background: linear-gradient(to right, var(--orders-background), rgb(225, 232, 233));

    border-left: 3px solid rgb(187, 187, 187);
}

.orders-section table {
    margin: auto 2vw;
    padding-top: 33px;
    max-height: 762px;
}