/* ------Footer-------- */

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: auto;
  font-size: .7em;
  background-color: transparent;
}

.footer-links {
  display: flex;
  list-style: none;
}

.footer-li-a {
  color: var(--grey);
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.25s;
}

.footer-li-a:hover {
  color: #aaa;
  background-color: var(--hover-color);
}

.footer-container p {
  color: #646464;
  color: var(--grey)
}