  .form {
    display: flex;
  }
  
  .searchIcon {
    height: 30px;
    width: 30px;
    color:var(--accent-color);
    background-color: #333;
    border: 1px solid #555;
    border-left:none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .searchIcon svg {
    padding:5px;
    font-size: 18px;
  }

  .search-input {
    height: 30px;
    width: 100px;
    background-color: #333;
    color: #eee;
    border:1px solid #555;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 5px;
  }
  
  .search-input:focus,
  .search-input:active {
    border-color: #999;
    outline: none;
  }
  
  .results-container {
    position: relative;
  }
  
  .results-list {
    position: absolute;
    top: 90%;
    left: calc(100% - 170px);
    right: 0;
    max-height: 200px;
    width:170px;
    overflow-y: auto;
    background-color: #eee;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    z-index: 1;
    color:#242424;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }

  .results-list ul {
    list-style: none;
    padding:3px;
    border-bottom: 1px solid #333;
  }

  .results-list a {
    color:#242424;
    text-decoration: none;
  }

  .results-list a:hover {
    color:#444;
    text-decoration: underline;
  }

  .highlight {
    background-color: yellow !important;
  }
