.header-container {
  margin: auto;
  width: 100%vw;
  border-radius: 5px;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.header-container h1 {
  margin: 0;
}

.filter-search-container {
  list-style: none;
}

h1 a {
  color: #33b5af;
  color: var(--logo-color);
  text-decoration: none;
  font-size: 30px;
  margin-left: 3vw;
}

.nav-links, .footer-links {
  display: flex;
  list-style: none;
}

.nav-links {
  margin-right: 3vw;
}

.nav-links a {
  color: #eeeeee;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.25s;
  transition: border-color 0.25s;
}

.nav-links a:hover {
  color: #ffffff;
  border-bottom: 1px solid #33b5af;
}

#filterBy {
  background-color: #444;
  border: 1px solid #666;
  color: #eee;
  height: 30px;
  border-radius: 5px;
}

#filterBy:active, #filterBy:focus {
  outline: 1px solid #999;
}


/* ------Footer-------- */

.footer-nav {
  background-color: #333;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  font-size: .7em;
}

.footer-li-a {
  color: #999;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.25s;
}

.footer-li-a:hover {
  color: #aaa;
  background-color: #444;
}

footer p {
  color: #999;
}





/* Header / footer media queries for mobile */
@media screen and (max-width: 480px) {

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-name {
    margin: 0;
  }

  nav, footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}