.header-container {
  margin: auto;
  width: 100%vw;
  border-radius: 5px;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.header-container h1 {
  margin: 0;
}






/* ------Footer-------- */

.footer-nav {
  background-color: #333;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  font-size: .7em;
}

.footer-li-a {
  color: #999;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.25s;
}

.footer-li-a:hover {
  color: #aaa;
  background-color: #444;
}

footer p {
  color: #999;
}




