@keyframes glowing {
    0% {
        box-shadow: 0 0 2px #929a9a, 0 0 7px #9bb4b4;
    }

    50% {
        box-shadow: 0 0 5px #929a9a, 0 0 20px #76cfd9;

    }

    100% {
        box-shadow: 0 0 2px #929a9a, 0 0 7px #9bb4b4;
    }
}



.demo-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: black;
    color: var(--dark-grey);
    background-color: rgb(241, 241, 241);
    transition: box-shadow 0.5s ease-in-out;
    animation: glowing 4s ease-in-out infinite;
    position: fixed;
    bottom: 1vh;
    right: 6vw;
    margin: auto;
    width: 20vw;
    height: auto;
    padding: 5px;
    min-width: 400px;
    border-radius: 8px;
    z-index: 500;
}

.demo-container-expanded {
    background-color: rgb(255, 255, 255);
    transition: none;
    animation: none;
    box-shadow: 0 0 2px #929a9a;
}

.demo-container .title-and-button-container {
    display: flex;
    justify-content: space-between;
    margin: 2px 10% 0 5%;
}

.demo-container .title-and-button-container button {
    background-color: white;
}

.demo-container .fa-icon {
    font-size: 14px;
}

.demo-container h5 {
    margin: 0;
    text-align: center;
}

.demo-container p {

    font-size: .7em;
    padding-right: 8px;
}



.expanded-container {

    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    border-top: 1px solid var(--accent-color);
    margin-top: 10px;
    padding-left: 10px;
}

.expanded-container-expanded {
    height: auto;
    opacity: 1;
}

.use-inventory-and-deliveries-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.use-inventory-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.play-reset-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.demo-container button {
    border: 1px solid rgb(216, 216, 216);
    background-color: rgb(230, 232, 234);
    min-width: 20px;
    padding: none;
    width: auto;
    height: 30px;
}

.demo-container button.active {
    background-color: rgb(134, 208, 199);
}

/* .demo-container button:hover {
    background-color: rgb(82, 143, 147);
} */

.delivery-switch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    gap: 10px;
}

.use-selected-switch-container {
    display: flex;
    gap: 10px;

}

.slider {
    display: flex;
    align-items: center;
    margin-left: 12px;
    width: 50%;
}

.instructions {
    max-width: 100%;
}

@media (max-width: 767px) {
    .demo-container {
        position: fixed;
        bottom: 20px;
        left: 55%;
        transform: translateX(-50%);
        width: calc(90% - 45px);
        min-width: auto;
    }

    .demo-container .title-and-button-container {
        padding: 0 1rem;
    }
}