
.header-nav {
  margin: auto;
  /* max-width: 1200px; */
  width:100%vw;
  border-radius: 5px;
  background-color: var(--dark-grey);
  display: flex;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-container {
  align-self: center;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  font-size: .7em;
}

.header-name {
  margin: 0;
  margin-right: auto;
}

.header-name a {
  color: #33b5af;
  color: var(--logo-color);
  text-decoration: none;
  font-size: 30px;
  padding-left: 10px;
}

.nav-links, .footer-links {
  display: flex;
  list-style: none;
}

.header-li-a {
  color: #eeeeee;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.25s;
  transition: border-color 0.25s;
}

.header-li-a:hover {
  color: #ffffff;
  background-color: #333232;
  border-bottom: 3px solid #33b5af;
}

.footer-li-a {
  color: #333232;
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.25s;
}

.footer-li-a:hover {
  color: #444444;
  background-color: #ddd;
}

footer p {
  color: #444444;
}
 .upload-button {
  padding: 0 0 0 5px;
  color: var(--logo-color)
 }

 .filter-style {
  height: 30px;
  width: 40px;
  padding: auto 7px;
  padding-left: 20px;
  background-color: #ddd;
  color: #242424;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left:10px;
}




/* Header / footer media queries for mobile */
@media screen and (max-width: 480px) {

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-name {
    margin: 0;
  }

  nav, footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}



