.sales-graph-container {
    height: 50px;
    display: flex;
    position: relative; 
    justify-content: flex-end; 
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: height 0.3s ease-in-out;
    padding-right:2.5rem;
  }
  
  .sales-graph-container .tab {
    position: fixed;
    bottom: 3px;
    right: 3px;
    width: 40px;
    height: 40px;
    background-color: #33b5af;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  }
  
  .sales-graph-container .tab.rotated {
    transform: rotate(360deg);
  }
  
  .inventory-orders-container {
    transition: margin-top 0.3s ease-in-out;
  }
  
  .bar-icon {
    font-size: 18pt;
  }

