#username {
  color: #3b9893;
}
#password {
  color: #3b9893;
}
#companyId {
  color: #3b9893;
}
#companyName {
  color: #3b9893;
}

.prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}

.go-back-button {
  background-color: #3b9893 !important;
}

.circle-spinner {
  margin: auto;
}

.login-button {
  background-color: #3b9893 !important;
}

.new-account-container {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
}

.add-company-link {
  margin: 0;
}

.add-company-link:hover {
  cursor: pointer;
  color: white;
}

.new-account-link {
  margin: 0;
}

.new-account-link:hover {
  cursor: pointer;
  color: white;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #3b9893 !important;
}

.loginWindow-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #434343;
  width: 80%;
  height: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 70%;
  width: 80%;
  padding: 0;
  color: #3b9893;
}

.title-container {
  margin: 0;
  padding: 0;
  height: 30%;
  width: 100%;
}

.title {
  color: #3b9893;
  font-size: 4em;
}

.input-header {
  margin: 0;
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .loginWindow-container {
    width: 70%;
    height: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .title {
    font-size: 3em;
  }
}
@media only screen and (max-height: 650px) {
  #guest-submit-button {
    margin-top: 0 !important;
    padding: 0 !important;
  }
}
