.welcome-message-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #22222299;
    color: rgb(255, 255, 255);
    width: 50vw;
    height: 80%;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
}

.welcome-message-container a,
.github-p a {
    text-decoration: none;
    color: rgb(195, 195, 172);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

/* .welcome-message-container a:visited {
    color: rgb(21, 68, 71);
} */

.welcome-message-container a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}


.welcome-message h5 {
    color: rgb(195, 195, 172);
    text-align: center;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.linkedin-icon {
    font-size: .8em;
}

.developer-names span,
.github-p span {
    padding-left: 10px;
}

.github-p {
    display: flex;
    justify-content: center;
}

.icon-span {
    width: auto;
    margin: 0 3px 0 8px;
    display: inline-block;
}

#addprodicon-welcome-page .addProdIcon {
    width: 10px;
    overflow: hidden;
    display: inline-block;
}

#addprodicon-welcome-page .addProdIcon:hover {
    color: transparent;
}

@media only screen and (max-width: 768px) {
    .welcome-message-container {
        width: 80vw;
        height: 80%;
        margin: 0;
    }
}